/* PC */
@media screen and (min-width: 992px) {
  .show-on-mobile {
    display: none;
  }
  .menu-drawer {
    display: none;
  }
}
/* Tablet and Mobile */
@media screen and (max-width: 991px) {
  .navbar {
    position: relative;
  }

  .navbar .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .navbar ul {
    display: none;
  }

  .toggle-menu {
    width: 24px;
    color: #666;
  }

  .header-overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.4);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.7s ease;
  }

  .menu-drawer {
    position: fixed;
    inset: 0 40% 0 0;
    background: #fff;
    z-index: 2;
    transform: translateX(-100%);
    transition: 0.7s ease;
    padding: 40px;
  }

  .menu-drawer ul {
    margin-top: 10px;
  }

  .menu-drawer ul li {
    padding: 10px 0;
  }

  .menu-drawer ul li a {
    display: block;
    padding: 14px 0 0 0;
    color: #333;
  }

  .menu-checkbox:checked ~ .header-overlay {
    opacity: 1;
    visibility: visible;
  }

  .menu-checkbox:checked ~ .menu-drawer {
    transform: translateX(0);
  }
}
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .hero-img {
    display: none;
  }

  .menu-drawer ul li:hover {
    background-color: #999;
  }

  .hero-wrap .info {
    width: 80%;
    text-align: center;
    margin: 0 auto;
  }

  .hero-wrap .info .desc {
    width: 80%;
    margin: 30px auto auto;
  }

  .clients .images {
    flex-wrap: wrap;
    justify-content: center;
  }

  .guide-item {
    margin: 0;
    flex: 1;
  }

  .featured .list {
    grid-template-columns: repeat(2, 1fr);
  }

  .stats .row {
    flex-direction: column-reverse;
  }

  .stats .info {
    padding: 10px 0 40px 0;
  }

  .stats .info .sub-title {
    width: 80%;
  }

  .stats .info .desc {
    margin-top: 20px;
    width: 80%;
  }

  .stats .img-block,
  .stats .info {
    width: 100%;
  }

  .stats .row {
    flex-direction: row;
  }

  .stats .qty-item .qty {
    font-size: 5rem;
  }

  .stats .qty-item .qty-desc {
    font-size: 1.5rem;
  }

  .subscription .image {
    display: none;
  }

  .footer .row-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer .row-grap {
    gap: 70px;
  }
}

/* Mobile */
@media screen and (max-width: 767px) {
  .menu-drawer {
    inset: 0 25% 0 0;
    padding: 20px 40px;
  }
  .navbar .action {
    display: none;
  }

  .separate-mb {
    border-top: 1px solid #ccc;
  }

  .hero-img {
    display: none;
  }

  .hero-wrap {
    height: 500px;
  }

  .hero-wrap .sub-title,
  .hero-wrap .desc {
    font-size: 1.6rem;
  }

  .hero-wrap .title {
    font-size: 3.5rem;
  }

  .hero-wrap .info {
    width: auto;
    text-align: center;
  }

  .clients {
    margin-top: 40px;
  }
  .clients .images {
    flex-wrap: wrap;
    justify-content: center;
  }

  .hide-on-mobile {
    display: none;
  }

  .guides .list-icon {
    display: block;
  }
  .guide-item {
    margin-top: 50px;
  }

  .featured .link {
    margin-top: 22px;
    display: none;
  }

  .featured .desc {
    margin: 30px 0 30px 0;
  }

  .featured .list {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  .featured .item {
    margin-top: 20px;
  }

  .stats .row {
    flex-direction: column-reverse;
  }

  .stats .img-block,
  .stats .info {
    width: 100%;
    padding: 0;
  }

  .stats .img-block .image {
    width: 100%;
  }

  .stats .row-qty {
    flex-direction: row;
    padding: 0;
  }

  .stats .qty-item {
    justify-content: space-between;
  }

  .stats .qty-item .qty {
    font-size: 3rem;
  }

  .stats .qty-item .qty-desc {
    font-size: 1.2rem;
  }

  .subscription .image {
    display: none;
  }

  .subscription .info {
    text-align: center;
  }

  .subscription .info .sub-title {
    font-size: 2rem;
  }

  .subscription .desc {
    margin: 20px 0 20px 0;
    font-size: 1.1rem;
  }

  .footer .row-top {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
  }

  .footer .row-bottom {
    flex-direction: column;
  }

  .footer .logo {
    width: 35%;
    height: 100%;
    margin-bottom: 10px;
  }

  .footer .copyright {
    margin-top: 20px;
    font-size: 1.3rem;
  }

  .footer .item a,
  footer .desc {
    font-size: 1.4rem;
  }
}
